:root {
  --clr-cell-hit: black;
  --clr-cell-ship: #8b8b8b;
  --clr-cell-ship-hit: #c4c4c4;
  --clr-cell-hit-hover: #b91f1f;
  --size: 48px;
}

/* Default */
.cell {
  border: 2px solid;
  width: var(--size);
  height: var(--size);

  position: relative;
}

/* Deployment */
.editing .cell:hover {
  cursor: pointer;
}

.editing .cell.available {
  border-color: green;
  background: lime;
}

.editing .cell.unavailable {
  border-color: red;
  background: lightcoral;
}

/* Battle */
.cell.hit::after {
  content: '';
  display: inline-block;
  background: var(--clr-cell-hit);

  width: 40%;
  border-radius: 50%;
  aspect-ratio: 1;

  position: absolute;
  inset: 0;
  margin: auto;
}

.cell.ship {
  background: var(--clr-cell-ship);
}

.enemy .cell.ship {
  background: initial;
  cursor: crosshair;
}

.cell.ship.hit {
  background: var(--clr-cell-ship-hit);
}

.cell:hover {
  opacity: 0.45;
  cursor: crosshair;
}

.player .cell:hover {
  cursor: initial;
}

.cell.hit:hover {
  opacity: 1;
  cursor: not-allowed;
}
